.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.content {
    margin: 50px auto;
    font-weight: bold;
    padding: 20px;
    border-radius: 12px;
    max-width: 50%;
    max-height: 80%;
    outline: auto;
    overflow:scroll;
    background-color: white;
}


